# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

ionGitViewer/node_modules/
ionGitViewer/platforms/
ionGitViewer/plugins/
yoGitViewer/node_modules
yoGitViewer/.tmp
.idea/*
yoGitViewer/client/bower_components
yoGitViewer/server/config/local.env.js