<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/search" class="navbar-brand">Github Viewer</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">

      <ul class="nav navbar-nav">
        <li ng-class="{active: isActive('/search')}">
          <a ng-href="/search">Search</a>
        </li>
        <li ng-class="{active: isActive('/user/{{user}}')}">
          <a ng-href="/user/{{user}}">User</a>
        </li>
        <li ng-class="{active: isActive('/repo/{{user}}/{{repo}}')}">
          <a ng-href="/repo/{{user}}/{{repo}}">Repo</a>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">

        <div class="form-group">
          <a ng-href="/user/{{user}}" type="button">
            <button class="btn btn-default">
              Find &nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </button>
          </a>
          <input type="text" class="form-control" placeholder="Username" size="7" ng-model="user">
        </div>

        <div class="form-group">
          <a ng-href="/repo/{{user}}/{{repo}}" type="button">
            <button class="btn btn-default">
              Find &nbsp;<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </button>
          </a>
          <input type="text" class="form-control" placeholder="Repo" size="7" ng-model="repo">
        </div>

      </form>

    </div>
  </div>
</div>
